body {
    background-image: url(/imgs/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    max-height: 100vh;
    color: #F7A8D2;
}

.container {
    display: flex;
    flex-direction: row;
}

.draggable { 
    width: 50px; 
    height: 50px; 
    padding: 0.2em; 
}

.icon {
    width: 80px;
}

.small-icon {
    width: 70px;
}

.middle-icon {
    width: 100px;
}

.big-icon {
    width: 120px;
}

.draggable p {
    font-size: 14px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    line-height: 18px;
}

p.oblique {
    margin-top: -5px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* icons initial positions */
#eyes {
    position: absolute;
    left: 8vw;
    top: 13vh;
}

#body {
    position: absolute;
    left: 37vw;
    top: 3vh;
}

#ear {
    position: absolute;
    left: 86vw;
    top: 5vh;
}

#book {
    position: absolute;
    left: 14vw;
    top: 30vh;
}

#globe {
    position: absolute;
    left: 24vw;
    top: 20vh;
}

#a {
    position: absolute;
    left: 21vw;
    top: 55vh;
}

#stapler {
    position: absolute;
    left: 22vw;
    top: 75vh;
}

#hand {
    position: absolute;
    left: 40vw;
    top: 41vh;
}

#operations {
    position: absolute;
    left: 47vw;
    top: 48vh;
}

#paint {
    position: absolute;
    left: 55vw;
    top: 48vh;
}

#sponge {
    position: absolute;
    left: 67vw;
    top: 52vh;
}

#bowl {
    position: absolute;
    left: 78vw;
    top: 32vh;
}

#rice {
    position: absolute;
    left: 84vw;
    top: 45vh;
}

#carrot {
    position: absolute;
    left: 88vw;
    top: 48vh;
}

#rope {
    position: absolute;
    left: 33vw;
    top: 81vh;
}

#nose {
    position: absolute;
    left: 62vw;
    top: 82vh;
}