body {
    background-image: url(/imgs/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    max-height: 100vh;
    color: #45433f;
}

.container {
    display: flex;
    flex-direction: row;
}

.draggable { 
    width: 50px; 
    height: 50px; 
    padding: 0.2em; 
}

.icon {
    width: 80px;
}

.small-icon {
    width: 70px;
}

.middle-icon {
    width: 100px;
}

.big-icon {
    width: 120px;
}

.draggable p {
    font-size: 14px;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    line-height: 18px;
}

p.oblique {
    margin-top: -5px;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*animation*/
.card {
    display: none;
    animation: zoomcard 0.5s ease-in-out forwards;
}

@keyframes zoomcard{
    0%{}
    70%{
        display: block;
        transform: scale(1.1);
    }
    100%{
        transform: scale(1.0);
    }
}

.green-card {
    background-color: rgba(207, 235, 233, 0.7) !important;
    backdrop-filter: blur( 8px );
-webkit-backdrop-filter: blur( 8px );
    padding: 40px;
    position: absolute;
    margin: 150px auto;
    max-width: 600px;
    border-radius: 20px !important;
    color: #45433f;
}

.green-card .keywords {
    color: #038f96;
}

.yellow-card {
    background-color: rgba(255, 250, 191, 0.7) !important;
    backdrop-filter: blur( 8px );
-webkit-backdrop-filter: blur( 8px );
    padding: 40px;
    position: absolute;
    margin: 150px auto;
    max-width: 600px;
    border-radius: 20px !important;
    color: #45433f;
}

.purple-card {
    background-color: rgba(220, 212, 230, 0.7) !important;
    backdrop-filter: blur( 8px );
-webkit-backdrop-filter: blur( 8px );
    padding: 40px;
    position: absolute;
    margin: 150px auto;
    max-width: 600px;
    border-radius: 20px !important;
    color: #45433f;
}

.pink-card {
    background-color: rgba(250, 216, 233, 0.7) !important;
    backdrop-filter: blur( 8px );
-webkit-backdrop-filter: blur( 8px );
    padding: 40px;
    position: absolute;
    margin: 150px auto;
    max-width: 600px;
    border-radius: 20px !important;
    color: #45433f;
}

.card br {
    display: block;
    margin: 10px 0;
    line-height: 20px;
}

.card .japanese-text {
    font-size: 15px;
}
/* icons initial positions */
#eyes {
    position: absolute;
    left: 8vw;
    top: 13vh;
}

#body {
    position: absolute;
    left: 37vw;
    top: 3vh;
}

#ear {
    position: absolute;
    left: 86vw;
    top: 5vh;
}

#book {
    position: absolute;
    left: 14vw;
    top: 30vh;
}

#globe {
    position: absolute;
    left: 24vw;
    top: 20vh;
}

#a {
    position: absolute;
    left: 21vw;
    top: 55vh;
}

#stapler {
    position: absolute;
    left: 22vw;
    top: 75vh;
}

#hand {
    position: absolute;
    left: 40vw;
    top: 41vh;
}

#operations {
    position: absolute;
    left: 47vw;
    top: 48vh;
}

#paint {
    position: absolute;
    left: 55vw;
    top: 48vh;
}

#sponge {
    position: absolute;
    left: 67vw;
    top: 50vh;
}

#bowl {
    position: absolute;
    left: 78vw;
    top: 32vh;
}

#rice {
    position: absolute;
    left: 84vw;
    top: 45vh;
}

#carrot {
    position: absolute;
    left: 88vw;
    top: 48vh;
}

#rope {
    position: absolute;
    left: 33vw;
    top: 81vh;
}

#nose {
    position: absolute;
    left: 62vw;
    top: 82vh;
}